body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#image {
  width: 30%;
  margin: 5px;
  float: left;
  min-height: 100%;
}
#image {
  max-width: 100%;
  border: 2px solid;
  padding: 5px;
  margin: 5px;
}

#rockets {
  border: 2px solid;
  padding: 5px;
  margin: 5px;
  width: 30%;
  min-height: 100%;
  float: left;
}
h2{
  text-align: center;
}
#hearthstone {
  width: 30%;
  min-height: 100%;
  float: left;
  border: 2px solid;
  padding: 5px;
  margin: 5px;
}
